.anc::before {
    margin-left: auto;
  }
  
  .anc::after, .anc::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    transition: 0.5s;
  }
  
  .anc:hover::after, .anc:hover::before {
    width: 100%;
  }